.theme-settings__wrapper {
    box-sizing: border-box;
    background-color: #9797974d;
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 75px;
    height: 44px;
    padding: 12px 26px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#settingsSvg {
    transition-duration: 50ms;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#settingsCloser {
    transition-duration: 50ms;
    display: none;
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: #9797974d;
    width: 34px;
    height: 34px;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    bottom: auto;
    background-color: #9b9b9b80;
    right: auto;
    z-index: 2000;
    cursor: pointer;
}

#innerSettings {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -.02em;
}

.settings-header {
    margin-bottom: 22px;
    margin-top: 0;
    padding-top: 24px;
}

.settings__menu-section {
    margin-right: 18px;
    margin-bottom: 24px;
    margin-left: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0.5px solid #ffffff1a;
    border-radius: 12px;
    background-color: #ffffff66;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.settings-section-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -.015em;
}

.more-menu__link-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.more-menu__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 4px;
    margin-left: 4px;
    padding: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    color: #1d1d1f;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.more-menu__icon {
    width: 18px;
    margin-right: 8px;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.app-footer {
    position: absolute;
    bottom: 9px;
    right: 15px;
    font-size: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    min-width: 300px;
    border-radius: 6px 0 0 6px
}

.send-file__wrapper, .receive-file__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.send-file__wrapper {
    margin-top: 30px;
}

.draggable-file {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    min-width: 371.5px;
    border-radius: 6px}

.inline-end__button {
    border: none;
    border-radius: 0 6px 6px 0;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Inter,sans-serif;
}

.fs__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.fs__wrapper > * {
    margin-bottom: 25px
}

.versions {
    display: none;
}

body {
    padding: 20px
}

.trans__wrapper {
    display: flex;
}

.version-num {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 10px;
}